<div class="container">
  <div class="row">
    <div class="studen">
      <h4 class="a">Portal de usuario</h4>
    </div>
    <div class="boto">
      <button class="botton" (click)="openModel()">Agregar nuevo</button>
    </div>
  </div>
  @if (studentList.length !== 0) {
  <div class="row">
    @for (item of studentList; track $index) {
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              {{item.name}}
            </div>
            <div class="col-6 text-end">
              {{item.mobileNo}}
            </div>
          </div>
        </div>
        <div class="card-body">
          <p> {{item.email}}</p>
        </div>
        <div class="card-footer text-center">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-sm btn-primary" (click)="onEdit(item)">Editar</button>
              <button class="btn btn-sm btn-danger" (click)="onDelete(item)">Eliminar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    }
  </div>
  } @else {
    <div class="row">
      <div class="tab">
        <p class="p">No se encontró ningún registro. Crear nuevo registro</p>
      </div>
    </div>
  }

</div>


<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crear nuevo usuario</h4>
        <button type="button" class="btn-close" (click)="closeModel()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <label class="nas">Name</label>
            <input type="text" [(ngModel)]="studentObj.name" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="mob">Mobile No</label>
            <input type="text" [(ngModel)]="studentObj.mobileNo" class="form-control" placeholder="Mobile">
          </div>
          <div class="col-6">
            <label for="">Email</label>
            <input type="text" [(ngModel)]="studentObj.email" class="form-control" placeholder="Email">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dangers" (click)="closeModel()">Cerrar</button>
        @if (studentObj.id ==0) {
          <button type="button" class="btn btn-primary" (click)="saveStudent()">Guardar usuario</button>
        } @else {
          <button type="button" class="btn btn-success" (click)="updateStud()">Modificar Usuario</button>
        }

      </div>
    </div>
  </div>
</div>
