
.botton:hover{
  color: #fff;
  background: #198754;
}

.boto{
  text-align: right !important;
  flex: auto;
  width: 50%;
  display: flex;
}

.studen{
  flex: 0 0 auto;
  width: 50%;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.a{
  font-size: calc(1.275rem + .3vw);
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight:  bold;
  line-height: 1.2;
}

.container{
  max-width: 720px;
  width: 100px;
  padding-right: 1.5rem;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  min-width: 768px;
}

.tab{
  text-align: center !important;
  flex: auto;
  width: 100%;
  padding: 1.5rem !important;
}

.p{
  margin-top: 0;
  margin-bottom: 1rem;
}



@media (min-width: 576px) {
  .modal {
      --bs-modal-margin: 1.75rem;
      --bs-modal-box-shadow: var(--bs-box-shadow);
  }
}


@media (min-width: 576px) {
  .modal-dialog {
      max-width: var(--bs-modal-width);
      margin-right: auto;
      margin-left: auto;
  }
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--bs-modal-margin);
  pointer-events: none;
}


.modal-title{
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
}



.modal-body{
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
}

.nas{
  display: inline-block;
}

.form-control{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mob{
  display: inline-block;
}

.col-6{
  flex: 0 0 auto;
  width: 50%;
}
.col-6 .tex-end{
  text-align: right !important;
}

